</div>
</div>
</div>
</section><!-- End Specials Section -->

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
<div class="container-fluid">

<div class="section-title">
  <h2>Some photos from <span>Our blogs</span></h2>
  <p>Don't starve your taste buds!!.</p>
</div>

<div class="row g-0">

  <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
      <a href="/img/gallery/gallery-1.jpg" class="gallery-lightbox">
        <img src="/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
      <a href="/img/gallery/gallery-2.jpg" class="gallery-lightbox">
        <img src="/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
      <a href="/img/gallery/gallery-3.jpg" class="gallery-lightbox">
        <img src="/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
      <a href="/img/gallery/gallery-4.jpg" class="gallery-lightbox">
        <img src="/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
      <a href="/img/gallery/gallery-5.png" class="gallery-lightbox">
        <img src="/img/gallery/gallery-5.png" alt="" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
      <a href="/img/gallery/gallery-6.jpg" class="gallery-lightbox">
        <img src="/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
      <a href="/img/gallery/gallery-7.jpg" class="gallery-lightbox">
        <img src="/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
      <a href="/img/gallery/gallery-8.jpg" class="gallery-lightbox">
        <img src="/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
      </a>
    </div>
  </div>

</div>

</div>
</section><!-- End Gallery Section -->

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
<div class="container">

<div class="section-title">
  <h2>Proffesional chefs<span> about our blogs.</span></h2>
  <p>We are proud to share the appreciation from the proffesional chefs for our blogs. </p>
</div>

<div class="row">

  <div class="col-lg-4 col-md-6">
    <div class="member">
      <div class="pic"><img src="/img/chefs/chefs-1.jpg" class="img-fluid" alt=""></div>
      <div class="member-info">
        <h4>Urbano cruz de rego</h4>
        <span>Executive Chef</span>
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="member">
      <div class="pic"><img src="/img/chefs/chefs-2.jpg" class="img-fluid" alt=""></div>
      <div class="member-info">
        <h4>Dhamu</h4>
        <span>Mater Chef</span>
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="member">
      <div class="pic"><img src="/img/chefs/chefs-3.jpg" class="img-fluid" alt=""></div>
      <div class="member-info">
        <h4>Risho</h4>
        <span>Cook</span>
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
</section><!-- End Chefs Section -->




<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
<div class="container">

<div class="section-title">
  <h2><span>Find your </span> Destination</h2>
  <p>Search the place where you want to eat.</p>
</div>
</div>

<div class="map">
<iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
</div>

</div>
</section><!-- End Contact Section -->

</main><!-- End #main -->

