<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Escaped Flavors</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/styles.css" rel="stylesheet">

</head>
<body>
  <section id="specials" class="specials">
    <div class="container">

      <div class="section-title">
        <h2>Write and publish <span>Your blogs</span></h2>
        <div class="container">
          <form class="" action="/compose" method="post">
            <div class="form-group">
              <label style="padding-top: 30px;padding-bottom: 15px; font-size: 30px;">Title</label>
              <input class="form-control" type="text" name="postTitle" style="border-width: 3px;">
              <label style="padding-top: 30px;padding-bottom: 15px; font-size: 30px;">Post</label>
              <textarea class="form-control" name="postBody" rows="5" cols="30" style="border-width: 3px;"></textarea>
            </div>
            <h2>   </h2>
            <h2>    </h2>
            <button class="book-a-table-btn scrollto" type="submit" name="button">Publish</button>
          </form>
        </div>
       </div>
      </div>   
     </section>  


</body>
</html>

